@page "/sifranti/vozila-seznam"

@using BusinessLayer.Interfaces
@using BusinessLayer.Services
@using BusinessLayer.Services.StateServices
@using DataAccessLayer.Models
@using System.Linq.Expressions

@inject IVozilaService _vozilaService
@inject NavigationManager NavManager
@inject ISnackbar _sb
@inject SaveUrlService _returnUrl;
@inject ProtectedSessionStorage _sessionStorage;
@inject UserState _userState

<MudPaper Class="pa-4">
    <MudStack Row="true" Spacing="2" AlignItems="AlignItems.Center" Class="mb-4">
        <MudText Typo="Typo.h5">Šifrant - Vozila</MudText>
    </MudStack>

    <div style="overflow-x:auto;">
        <MudDataGrid Dense="true" Bordered="true" Virtualize="true" T="Vozila" Items="@vozilaList"
                     RowClick="RowClicked"
                     RowStyleFunc="@rowStyleFunc"
                     Height="calc(var(--grid-height2))"
                     Style="height:calc(var(--grid-height2))"
                     FixedHeader="true"
                     Breakpoint="Breakpoint.Xs"
                     Hover="true"
                     QuickFilter="quickFilter">
            <ToolBarContent>
                <MudSpacer />
                <MudSpacer />
                <MudTextField @bind-Value="searchString" Placeholder="Search" Adornment="Adornment.Start" Immediate="true"
                    AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0" />
            </ToolBarContent>
            <Columns>
                @foreach (var col in columns)
                {
                    <PropertyColumn Property="@(col.Property)" Title="@(col.Title)" />
                }
            </Columns>
            <NoRecordsContent>
                <MudAlert Variant="Variant.Outlined" Severity="Severity.Error">Nema podataka za prikaz</MudAlert>
            </NoRecordsContent>
        </MudDataGrid>
    </div>

    <MudStack Row Spacing="2" Justify="Justify.Center" Class="mt-4">
        <MudButton FullWidth="true" Color="Color.Primary" Variant="Variant.Filled" OnClick="AddNewVozila">Add new</MudButton>
        <MudButton FullWidth="true" Color="Color.Warning" Variant="Variant.Filled" Disabled="@(!IsSelectedVozilo)" OnClick="EditVozilo">Edit</MudButton>
        <MudButton FullWidth="true" Color="Color.Tertiary" Variant="Variant.Filled" Disabled="@(!IsSelectedVozilo || _returnUrl.Url==null)" OnClick="SelectVozilo">Select</MudButton>
    </MudStack>
</MudPaper>

@code {
    private List<Vozila>? vozilaList = new();
    private Vozila? selectedVozilo;
    private bool IsSelectedVozilo => selectedVozilo is not null;
    private List<(Expression<Func<Vozila, object>> Property, string Title)> columns = new();
    private string? searchString;

    private void GenerateColumns()
    {
        if (_userState.CurrentUserRights == 1) //ADMIN
        {
            columns = new()
            {
                (v=>v.Id,"ID"),
                (v => v.Vozilo!, "Vozilo"),
                (v=>v.Opis!,"Opis"),
                (v=>v.RegistrskaOznaka!,"Registrska oznaka"),
                (v=>v.VpisUporabnik!,"Vpis uporabnik"),
                (v=>v.VpisDatetime!,"Vpis datetime"),
                (v=>v.SprUporabnik!,"Spr uporabnik"),
                (v=>v.SprDatetime!,"Spr datetime"),
                (v=>v.ZacetekVozenj!,"Začetek voženj"),
                (v=>v.KonecVozenj!,"Konec voženj"),
                (v=>v.Dostopnost!,"Dostupnost"),
                (v=>v.Voznik!,"Voznik"),
                (v=>v.Sinhronizirano!,"Sinhronizirano"),
                (v=>v.Prikaz!,"Prikaz")
            };
        }
        else if(_userState.CurrentUserRights == 2)
        {
            columns = new()
            {
                (v => v.Id, "ID"),
                (v => v.Vozilo!, "Vozilo"),
                (v => v.Opis!, "Opis")
            };
        }
        else
        {
            _sb.Add("NEMATE PRISTUP", Severity.Error);
        }
    }

    private Func<Vozila, bool> quickFilter => x =>
    {
        if (string.IsNullOrEmpty(searchString))
            return true;

        if (x.Opis!.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;

        if (x.RegistrskaOznaka!.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;

        return false;
    };

    protected override async Task OnInitializedAsync()
    {
        await LoadVozila();
        GenerateColumns();
    }

    private async Task LoadVozila()
    {
        vozilaList = await _vozilaService.GetAllVozilaQuery();
    }

    private Func<Vozila, int, string> rowStyleFunc => (item, index) =>
    {
        if (IsSelectedVozilo && item.Id == selectedVozilo!.Id)
        {
            return "background-color:#7e6fff; color:white;";
        }

        return string.Empty;
    };

    private void RowClicked(DataGridRowClickEventArgs<Vozila> args)
    {
        selectedVozilo = args.Item;
        StateHasChanged();
    }

    private void AddNewVozila()
    {
        NavManager.NavigateTo($"/sifranti/vozila-edit/0");
    }

    private void EditVozilo()
    {
        if (IsSelectedVozilo && selectedVozilo!.Id > 0)
        {
            NavManager.NavigateTo($"/sifranti/vozila-edit/{selectedVozilo.Id}");
        }
    }

    private void SelectVozilo()
    {
        if(IsSelectedVozilo && _returnUrl.TargetPage=="Vozilo")
        {
            _returnUrl.SelectedId = selectedVozilo!.Id;
            NavManager.NavigateTo(_returnUrl.Url!);
            _returnUrl.Url = null;
        }
    }
}