@page "/sifranti/vozniki-seznam"
@using BusinessLayer.Interfaces
@using BusinessLayer.Services
@using BusinessLayer.Services.StateServices
@using DataAccessLayer.Models
@using System.Linq.Expressions

@inject IVoznikiService _voznikiService
@inject ISnackbar _sb
@inject SaveUrlService _returnUrl
@inject NavigationManager NavManager
@inject UserState _userState


<div class="main">

    <div class="header" Style="height: var(--header-height);padding:0;">
        <MudStack Row="true" Spacing="2" AlignItems="AlignItems.Center" Class="mb-4" Style="height: var(--header-height)">
            <MudText Typo="Typo.h5">Šifrant - Vozniki </MudText>
        </MudStack>
    </div>

    <MudStack Row="true" Spacing="2" Justify="Justify.Center" AlignItems="AlignItems.Center" Class="mb-4" Style="height: var(--header-height)">
        <MudButton Style="width:25%" FullWidth="true" Color="Color.Tertiary" Variant="Variant.Filled" OnClick="Default">Default</MudButton>
        <MudButton Style="width:25%" FullWidth="true" Color="Color.Tertiary" Variant="Variant.Filled" OnClick="Custom">Custom</MudButton>
    </MudStack>

    <div class="grid" Style="height: var(--grid-height);padding:0;">
        <MudDataGrid Dense="true" Bordered="true" Virtualize="true" T="Vozniki" Items="@voznikiList"
                     RowClick="RowClicked"
                     RowStyleFunc="@rowStyleFunc"
                     Height="calc(var(--grid-height2))"
                     Style="height:calc(var(--grid-height2))"
                     FixedHeader="true"
                     Breakpoint="Breakpoint.Xs"
                     Hover="true"
                     QuickFilter="quickFilter">
            <ToolBarContent>
                <MudSpacer/>
                <MudSpacer/>
                <MudTextField @bind-Value="searchString" Placeholder="Search" Adornment="Adornment.Start" Immediate="true"
                        AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"/>
            </ToolBarContent>
            <Columns>
                @foreach (var col in columns)
                {
                    <PropertyColumn Property="@(col.Property)" Title="@(col.Title)" />
                }
            </Columns>
            <NoRecordsContent>
                <MudAlert Variant="Variant.Outlined" Severity="Severity.Error">Nema podataka za prikaz</MudAlert>
            </NoRecordsContent>
        </MudDataGrid>
    </div>

    <div class="footer" Style="height: var(--footer-height); padding:0; ">
        <MudStack Row Spacing="2" Justify="Justify.Center" Class="mt-4">
            <MudButton FullWidth="true" Color="Color.Primary" Variant="Variant.Filled" OnClick="AddNewVozniki">Add new</MudButton>
            <MudButton FullWidth="true" Color="Color.Warning" Variant="Variant.Filled" Disabled="@(!IsRowSelected)" OnClick="EditVozniki">Edit</MudButton>
            <MudButton FullWidth="true" Color="Color.Tertiary" Variant="Variant.Filled" Disabled="@(!IsRowSelected || _returnUrl.Url == null)" OnClick="SelectVozniki">Select</MudButton>
        </MudStack>
    </div>

</div>




<style>

    .main {
        @* adjust header, footer height*@
        --header-height: 50px;
        --footer-height: 50px;
        @* vertical pading from somewhere *@
        --padding-height: 5px;
        @* height for main section *@
        --mainview-height: calc( 100vh - var(--mud-appbar-height) - var(--padding-height) );
        @*background-color: grey;
        padding-inline: 0px; *@
        height: var(--mainview-height);
        display: flex;
        flex-direction: column;
        justify-content: normal;
        @* calc height grid *@
        --grid-height_temp: calc(var(--header-height) + var(--footer-height) );
        --grid-height: calc(var(--mainview-height) - var(--grid-height_temp));
    }

    .grid {
        @*background-color: orange;
        padding-inline: 10px; *@
        height: calc(var(--grid-height));
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .header {
        @* background-color: blue;
        height: calc(var(--header-height)); *@
        display: flex;
        flex-direction: column;
        justify-content: normal;
    }

    .footer {
        @* background-color: red;
        padding-inline: 10px; *@
        height: var(--footer-height);
        display: flex;
        flex-direction: column;
        justify-content: normal;
    }

</style>


@code {
    private List<Vozniki>? voznikiList = new();
    private Vozniki? selectedVozniki;
    private bool IsRowSelected => selectedVozniki is not null;
    private int filter = 0; //DEFAULT
    private List<(Expression<Func<Vozniki, object>> Property, string Title)> columns = new();
    private string? searchString;

    private async Task LoadData()
    {
        voznikiList = await _voznikiService.GetAllQueryVozniki(filter);
    }

    private void GenerateColumns()
    {
        if (_userState.CurrentUserRights == 1) //ADMIN
        {
            columns = new()
            {
                (v=>v.Id,"ID"),
                (v => v.Voznik!, "Voznik"),
                (v => v.Opis!, "Opis"),
                (v => v.VpisUporabnik!, "Vpis uporabnik"),
                (v => v.VpisDatetime!, "Vpis datetime"),
                (v => v.SprUporabnik!, "Spr uporabnik"),
                (v => v.SprDatetime!, "Spr datetime"),
                (v => v.Sinhronizirano!, "Sinhronizirano"),
                (v => v.Prikaz!, "Prikaz")
            };
        }
        else if (_userState.CurrentUserRights == 2) //USER
        {
            columns = new()
            {
                (v => v.Id, "ID"),
                (v => v.Voznik!, "Voznik"),
                (v => v.Opis!, "Opis")
            };
        }
        else
        {
            _sb.Add("NEMATE PRISTUP!", Severity.Error);
        }
    }

    private Func<Vozniki, bool> quickFilter => x =>
    {
        if (string.IsNullOrEmpty(searchString))
            return true;

        if (x.Opis!.Contains(searchString))
            return true;

        return false;
    };

    protected override async Task OnInitializedAsync()
    {
        await LoadData();
        GenerateColumns();
    }

    private Func<Vozniki, int, string> rowStyleFunc => (item, index) =>
    {
        if (IsRowSelected && item.Id == selectedVozniki!.Id)
        {
            return "background-color:#7e6fff; color:white;";
        }

        return string.Empty;
    };

    private void RowClicked(DataGridRowClickEventArgs<Vozniki> args)
    {
        selectedVozniki = args.Item;
        StateHasChanged();
    }

    private void AddNewVozniki()
    {
        NavManager.NavigateTo("/sifranti/vozniki-edit/0");
    }

    private void EditVozniki()
    {
        if (selectedVozniki != null && IsRowSelected)
        {
            NavManager.NavigateTo($"/sifranti/vozniki-edit/{selectedVozniki.Id}");
        }
    }

    private void SelectVozniki()
    {
        if (IsRowSelected && selectedVozniki!.Id > 0)
        {
            _returnUrl.SelectedId = selectedVozniki.Id;
            NavManager.NavigateTo(_returnUrl.Url!);
            _returnUrl.Url = null;
        }
    }

    //STATUS (1,2,5,6) & VPIS_DATETIME DESC
    private async Task Default()
    {
        filter = 0;
        await LoadData();
    }

    //STATUS ALL & VPIS_DATETIME DESC
    private async Task Custom()
    {
        filter = 1;
        await LoadData();
    }
}
